body {  
    color:black;  
}
h1,h2 {
    color:rgb(94, 19, 129);
    background-color: lightgray;
    width:fit-content;
    font-family:"Arial Black";
}
strong {
    background-color:lightgray;
    font-weight:700;
    font-style:normal; /* I had it at italic but I hated how it looked. */
}
body {
    background-color:whitesmoke;
    font-size:.85em;
    font-family:Cambria,Georgia,"Book Antiqua",serif
}
a:link {  
    color:grey;  
}
a:visited {
    color:rgb(94, 19, 129);
}
a:hover {
    color:lightgray;
}
a:active {
    color:rgb(94, 19, 129);
}
li strong{
    color:rgb(94, 19, 129);
}
p.pick{
    font-weight:700;
}
p.analysis{
    font-weight:500;
}
img#Reagor{
    width:50%;
}
img#statefinals{
    width:50%;
}
/* I know that these rules are a little basic but I actually kinda like the look of the website right now. It's simplistic but calming */